In [19]:
import numpy as np
import pandas as pd

In [20]:
DATA_PATH = r'C:\Users\christoph.Kempkes\OneDrive - Magna\01_Fortbildungen\04_Udemy\Machine Learning mit Python\Chapter13_CaseStudies\employee_data.csv'
df = pd.read_csv(DATA_PATH)
df.head()

   Unnamed: 0  id groups  age  healthy_eating  active_lifestyle  salary
0           0   0      A   36               5                 5    2297
1           1   1      A   55               3                 5    1134
2           2   2      A   61               8                 1    4969
3           3   3      O   29               3                 6     902
4           4   4      O   34               6                 2    3574

In [21]:
df = df.drop('Unnamed: 0', axis=1) # Spalte droppen / löschen
df = df.drop('id', axis=1) # Spalte droppen / löschen
df.head()

  groups  age  healthy_eating  active_lifestyle  salary
0      A   36               5                 5    2297
1      A   55               3                 5    1134
2      A   61               8                 1    4969
3      O   29               3                 6     902
4      O   34               6                 2    3574

In [26]:
data = df.to_numpy()
x = data[:, :-1]
y = data[:, -1]

categorical_features = [0]
numerical_features = [1, 2, 3]

print(f'x-shape: {x.shape}\ny-shape: {y.shape}')

x-shape: (1000, 4)
y-shape: (1000,)

In [23]:
# Feature groups ist noch ein string und muss noch umgeformt werden
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [25]:
regr = RandomForestRegressor(n_estimators=100)

In [29]:
numeric_transformer = Pipeline(
    steps = [
        ('scaler', StandardScaler())
    ]
)

categorical_transformer = Pipeline(
    steps = [
        ('oridnal', OrdinalEncoder())
    ]
)

preprocessor_ordinal = ColumnTransformer(
    transformers = [
        ('numeric', numeric_transformer, numerical_features),
        ('categorical', categorical_transformer, categorical_features)
    ]
)

In [31]:
pipe_ordinal = Pipeline(
    steps = [
        ('preprocessor_ordinal', preprocessor_ordinal),
        ('regressor', regr) # Dieses "Classifier" muss in den Params angegeben werden
    ]
)

In [34]:
pipe_ordinal.fit(x_train, y_train)
score = pipe_ordinal.score(x_test, y_test)

print(score)

0.9951368592534707

In [41]:
# Abspeichern des Modells
import pickle 

pickle.dump(regr, open('model.pkl', 'wb'))
regr = pickle.load(open('model.pkl', 'rb'))

In [42]:
x_sample = np.array([0, 40, 10, 10])
y_pred = regr.predict([x_sample])
print(y_pred)

[4163.92]